{% extends "layout.html" %}
{% block content %}

	<head>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/highcharts-more.js"></script>
		<script src="http://code.highcharts.com/modules/data.js"></script>
		<script src="http://code.highcharts.com/modules/exporting.js"></script>
		
		<script type="text/javascript">
			$(function () {
					$('#ajuste').highcharts({
						  chart: {
						      zoomType: 'xy'
						  },
						  title: {
						      text: 'Probabilidad de la distribucion'
						  },
						  subtitle: {
						      text: 'Source: WorldClimate.com'
						  },
						  xAxis: [{
						      categories: {{ data[8] }}
						  }],
						  plotOptions: {
									column: {
										  groupPadding: 0,
										  pointPadding: 0,
										  borderWidth: 0
									}
							},
						  yAxis: [{ // Primary yAxis
						      labels: {
						          format: '{value}',
						          style: {
						              color: Highcharts.getOptions().colors[1]
						          }
						      },
						      title: {
						          text: 'Probabilidad',
						          style: {
						              color: Highcharts.getOptions().colors[1]
						          }
						      }
						  }],
						  tooltip: {
						      shared: true,
						      valueDecimals: 2
						  },
						  series: [{
						      name: 'Datos',
						      type: 'column',
						      data: {{ data[10] }},
						  }, {
						      name: 'Ajuste',
						      type: 'spline',
						      data: {{ data[12] }},
						  }, {
						      name: 'Area',
						      type: 'areaspline',
						      visible:false,
						      data: {{ data[12] }},
						  }]
					});
			});
		</script>
		
		<script type="text/javascript">		
			$(function () {
					$('#meses').highcharts({
						  title: {
						      text: 'Promedios de cada mes',
						      x: -20 //center
						  },
						  subtitle: {
						      text: 'Fuente: generados mediante distrubución Weibull',
						      x: -20
						  },
						  xAxis: {
						      categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
						          'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
						  },
						  yAxis: [{ // Primary yAxis
						      title: {
						          text: 'Velocidad Viento',
						          style: {
						              color: Highcharts.getOptions().colors[1]
						          }
						      },
						      labels: {
						          format: '{value} Km/h',
						          style: {
						              color: Highcharts.getOptions().colors[1]
						          }
						      }
						  }, { // Secondary yAxis
						      title: {
						          text: 'Kappa, Lamnda',
						          style: {
						              color: Highcharts.getOptions().colors[0]
						          }
						      },
						      labels: {
						          format: '{value}',
						          style: {
						              color: Highcharts.getOptions().colors[0]
						          }
						      },
						      opposite: true
						  }],
						  tooltip: {
						      crosshairs: true,
						      shared: true,
						      valueDecimals: 2
						  },
						  legend: {
						      layout: 'vertical',
						      align: 'right',
						      verticalAlign: 'middle',
						      borderWidth: 0
						  },
						  series: [{
						      name: 'Shape',
						      yAxis: 1,
						      data: {{ data[1] }}
						  }, {
						      name: 'Scale',
						      yAxis: 1,
						      data: {{ data[2] }}
						  }, {
						      name: 'Vel. Máx.',
						      data: {{ data[5] }},
						      tooltip: {
						          valueSuffix: ' km/h'
						      }
						  }, {
						      name: 'Vel. Prom.',
						      data: {{ data[7] }},
						      tooltip: {
						          valueSuffix: ' Km/h'
						      }
						  }, {
						      name: 'Vel. Min.',
						      data: {{ data[6] }},
						      tooltip: {
						          valueSuffix: ' Km/h'
						      }
						  }]
					});
			});
		</script>
		
		
		<script type="text/javascript">
			$(function () {
					// Parse the data from an inline table using the Highcharts Data plugin
					$('#rosa_vientos').highcharts({
						  data: {
						      table: 'freq',
						      startRow: 1,
						      endRow: 17,
						      endColumn: 7
						  },

						  chart: {
						      polar: true,
						      type: 'column'
						  },

						  title: {
						      text: 'Rosa de los Vientos: Cutral-Có'
						  },

						  pane: {
						      size: '85%'
						  },

						  legend: {
						      reversed: true,
						      align: 'right',
						      verticalAlign: 'top',
						      y: 100,
						      layout: 'vertical'
						  },

						  xAxis: {
						      tickmarkPlacement: 'on'
						  },

						  yAxis: {
						      min: 0,
						      endOnTick: false,
						      showLastLabel: true,
						      title: {
						          text: 'Frequency (%)'
						      },
						      labels: {
						          formatter: function () {
						              return this.value + '%';
						          }
						      }
						  },

						  tooltip: {
						      valueSuffix: '%'
						  },

						  plotOptions: {
						      series: {
						          stacking: 'normal',
						          shadow: false,
						          groupPadding: 0,
						          pointPlacement: 'on'
						      }
						  }
					});
			});
			
		</script>
	</head>
	
	<body>
		<div class="container center">
		
			<div class ="plot", id="ajuste"></div>
		
			<div class ="plot", id="meses"></div>

			<div class ="plot", id="rosa_vientos" style="max-width: 600px; margin: 0 auto"></div>

		</div>

		<div style="display:none">
			<!-- Source: http://or.water.usgs.gov/cgi-bin/grapher/graph_windrose.pl -->
			<table id="freq" border="0" cellspacing="0" cellpadding="0">
				<tr nowrap bgcolor="#CCCCFF">
					<th colspan="9" class="hdr">Table of Frequencies (percent)</th>
				</tr>
				<tr nowrap bgcolor="#CCCCFF">
					<th class="freq">Direction</th>
					<th class="freq">&lt; 0.5 m/s</th>
					<th class="freq">0.5-2 m/s</th>
					<th class="freq">2-4 m/s</th>
					<th class="freq">4-6 m/s</th>
					<th class="freq">6-8 m/s</th>
					<th class="freq">8-10 m/s</th>
					<th class="freq">&gt; 10 m/s</th>
					<th class="freq">Total</th>
				</tr>
				<tr nowrap>
					<td class="dir">N</td>
					<td class="data">1.81</td>
					<td class="data">1.78</td>
					<td class="data">0.16</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">3.75</td>
				</tr>		
				<tr nowrap bgcolor="#DDDDDD">
					<td class="dir">NNE</td>
					<td class="data">0.62</td>
					<td class="data">1.09</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">1.71</td>
				</tr>
				<tr nowrap>
					<td class="dir">NE</td>
					<td class="data">0.82</td>
					<td class="data">0.82</td>
					<td class="data">0.07</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">1.71</td>
				</tr>
				<tr nowrap bgcolor="#DDDDDD">
					<td class="dir">ENE</td>
					<td class="data">0.59</td>
					<td class="data">1.22</td>
					<td class="data">0.07</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">1.88</td>
				</tr>
				<tr nowrap>
					<td class="dir">E</td>
					<td class="data">0.62</td>
					<td class="data">2.20</td>
					<td class="data">0.49</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">3.32</td>
				</tr>
				<tr nowrap bgcolor="#DDDDDD">
					<td class="dir">ESE</td>
					<td class="data">1.22</td>
					<td class="data">2.01</td>
					<td class="data">1.55</td>
					<td class="data">0.30</td>
					<td class="data">0.13</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">5.20</td>
				</tr>
				<tr nowrap>
					<td class="dir">SE</td>
					<td class="data">1.61</td>
					<td class="data">3.06</td>
					<td class="data">2.37</td>
					<td class="data">2.14</td>
					<td class="data">1.74</td>
					<td class="data">0.39</td>
					<td class="data">0.13</td>
					<td class="data">11.45</td>
				</tr>
				<tr nowrap bgcolor="#DDDDDD">
					<td class="dir">SSE</td>
					<td class="data">2.04</td>
					<td class="data">3.42</td>
					<td class="data">1.97</td>
					<td class="data">0.86</td>
					<td class="data">0.53</td>
					<td class="data">0.49</td>
					<td class="data">0.00</td>
					<td class="data">9.31</td>
				</tr>
				<tr nowrap>
					<td class="dir">S</td>
					<td class="data">2.66</td>
					<td class="data">4.74</td>
					<td class="data">0.43</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">7.83</td>
				</tr>
				<tr nowrap bgcolor="#DDDDDD">
					<td class="dir">SSW</td>
					<td class="data">2.96</td>
					<td class="data">4.14</td>
					<td class="data">0.26</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">7.37</td>
				</tr>
				<tr nowrap>
					<td class="dir">SW</td>
					<td class="data">2.53</td>
					<td class="data">4.01</td>
					<td class="data">1.22</td>
					<td class="data">0.49</td>
					<td class="data">0.13</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">8.39</td>
				</tr>
				<tr nowrap bgcolor="#DDDDDD">
					<td class="dir">WSW</td>
					<td class="data">1.97</td>
					<td class="data">2.66</td>
					<td class="data">1.97</td>
					<td class="data">0.79</td>
					<td class="data">0.30</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">7.70</td>
				</tr>
				<tr nowrap>
					<td class="dir">W</td>
					<td class="data">1.64</td>
					<td class="data">1.71</td>
					<td class="data">0.92</td>
					<td class="data">1.45</td>
					<td class="data">0.26</td>
					<td class="data">0.10</td>
					<td class="data">0.00</td>
					<td class="data">6.09</td>
				</tr>
				<tr nowrap bgcolor="#DDDDDD">
					<td class="dir">WNW</td>
					<td class="data">1.32</td>
					<td class="data">2.40</td>
					<td class="data">0.99</td>
					<td class="data">1.61</td>
					<td class="data">0.33</td>
					<td class="data">0.00</td>
					<td class="data">0.00</td>
					<td class="data">6.64</td>
				</tr>
				<tr nowrap>
					<td class="dir">NW</td>
					<td class="data">1.58</td>
					<td class="data">4.28</td>
					<td class="data">1.28</td>
					<td class="data">0.76</td>
					<td class="data">0.66</td>
					<td class="data">0.69</td>
					<td class="data">0.03</td>
					<td class="data">9.28</td>
				</tr>		
				<tr nowrap bgcolor="#DDDDDD">
					<td class="dir">NNW</td>
					<td class="data">1.51</td>
					<td class="data">5.00</td>
					<td class="data">1.32</td>
					<td class="data">0.13</td>
					<td class="data">0.23</td>
					<td class="data">0.13</td>
					<td class="data">0.07</td>
					<td class="data">8.39</td>
				</tr>
				<tr nowrap>
					<td class="totals">Total</td>
					<td class="totals">25.53</td>
					<td class="totals">44.54</td>
					<td class="totals">15.07</td>
					<td class="totals">8.52</td>
					<td class="totals">4.31</td>
					<td class="totals">1.81</td>
					<td class="totals">0.23</td>
					<td class="totals">&nbsp;</td>
				</tr>
			</table>
		</div>


	</body>
	
{% endblock %}
