{% extends "layout.html" %}
{% block content %}

	<div class="azul center">
		<h1> Análisis </h1>
		<h3>Vientos es una herramienta libre de análisis estadístico en estado Alfa para maximizar el aprobechamiento de la energía eólica.</h3>
	</div>

	<div class="gris center">
		<h3>Nuestras herramientas: Python, R, JavaScript, Highchart.</h3>
	</div>

	<div class="container center">
		<h1> La Idea </h1>
		<h3>Es que cualquier persona, sin tener que saber programar, pueda analizar si le conviene o no instalar un molino para alimentar una casa.</h3>
	</div>
	
	<div class="azul center">
		<h1> Ejemplo </h1>
		<h3><a href="{{ url_for('ejemplo') }}"><strong>Aca</strong></a> vas a encontrar un ejemplo de como funciona Vientos!.<h3>
	</div>
{% endblock %}
